/* Global Layout Set-up */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #000000;
}


/* Link Styles */

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: #6633ff;
}


/* Section Styles */

.main-nav {
    width: 100%;
    background: linear-gradient(transparent, orangered);
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
    border-bottom: 5px solid rgba(241, 62, 8, .5);
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all .10s;
}

.nav li {
    padding: 5px 10px 10px 10px;
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav a {
    transition: all .5s;
}

.nav a:hover {
    color: white;
}

header {
    text-align: center;
    background: url('images/arizona.jpg') no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
}

header {
    line-height: 1.5;
}

header .profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 25%;
    border: 3px solid rgb(255, 255, 255);
    transition: all .7s;
}

header .profile-image:hover {
    transform: scale(1.1) rotate(10deg);
}

.tag {
    background-color: rgba(255, 255, 255, .3);
    color: black;
    padding: 10px;
    border-radius: 5px;
    border-radius: 20px 6px 20px 6px;
    display: table;
    margin: 10px auto;
    transition: all .5s;

}

.name:hover {
    transform: scale(1.1) rotate(360deg);
}


.location {
    background-color: rgba(230, 62, 11, .5);
    color: white;
    transition: all .5s;
}

.location:hover {
    background-color: rgb(255, 60, 0);
    transform: scale(1.1);
}

.card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-top: 6px solid orangered;
    border-radius: 40px 6px 20px 6px;
    transition: all .5s;
    box-shadow: 2px 2px 20px 5px rgba(102, 102, 102, .5) inset;
    overflow: hidde;
}

.card:hover {
    border-color: rgb(255, 230, 0);
}

ul.skills {
    padding: 0;
    text-align: center;
}

.skills li {
    border-radius: 6px;
    display: inline-block;
    background: #ff3f04;
    color: white;
    padding: 5px 10px;
    margin: 2px;
}

.skills li:nth-child(odd) {
    background: #6403ff;
}

footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
}

footer .copyright {
    top: -8px;
    font-size: .75em;
    color: white;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
}

a.instagram {
    background-image: url(images/instagram.svg);
}

a.linkedin {
    background-image: url(images/linkedin.svg);
}

a.github {
    background-image: url(images/github.svg);
}

a.social:hover {
    opacity: 1;
}

.clearfix {
    clear: both;
}


/* Personalization */

.flex {
    background: rgba(255, 255, 255, .1);
    border-radius: 0 0 10px 70px;
}


.img-size {
    max-width: 100%;
    width: 300px;
    display: block;
    margin: 0 auto;
    transition: all .30s;
}

.img-size:hover {
    transform: scale(1.3) rotate(3deg);
}

.nav .name:hover {
    color: white;
    background: #ff7504;
}

.name-color {
    color: white;
}

.current {
    color: white;
}

.sub-titles {
    color: #6323FD;
    border-bottom: 2px dotted orangered;
}

.btn {
    text-align: center;
    background: black;
    display: inline-block;
    color: white;
    margin: 1em 0 0 3rem;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    left: 10px;

}

.btn:hover {
    background: rgb(19, 233, 161);
    color: black;
}

.border {
    border-radius: 15px;
}

/* Styles for larger screens */

@media screen and (min-width: 720px) {
    .flex {
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: flex;
        max-width: 1200px;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    header {
        min-height: 470px;
    }

    .nav {
        max-width: 1200px;
        padding: 0 30px;
    }

    main {
        padding-top: 20px;
    }

    main p {
        line-height: 1.6em;
    }

    .card {
        flex: 50%;
    }

    footer {
        font-size: 1.3em;
        max-width: 1200px;
        margin: 40px auto;
    }
}